body {
   overflow-y: scroll;
}
#header, .layout_table_wrapper {
   max-width: 880px;
   min-width: 650px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;        
}

.layout_tasks {
   max-width: 95%;
}


#main_wrapper {
   text-align: center; /* for IE6 */
}
#main {
   margin-left: auto;
   margin-right: auto
}
#iframe {
   width: 100%; 
   height: 2000px;
   padding-right: 10px;
   padding-left: 10px;
   border-right: 1px solid #B47238;
   border-left: 1px solid #B47238;
   display: none;
}
#left_menu td {
   vertical-align: top;
}
#left_menu {
   margin-left: 1em;
   margin-right: 0.5em;
}
#header_table {
   height: 40px;
   width: 100%;
   margin-bottom: 5px;
   margin-top: 5px;
}
#header_sep_top, #header_sep_bottom {
   width: 100%;
   border-bottom: 1px solid #B47238; 
}
#header_sep_bottom {
   margin-bottom: 30px;
}
#header_table td { /* border: 1px solid gray; */
   text-align: center;
   font-size: 25px; /* was 20px */
   line-height: 115%;
}
#header_logo {
   padding-bottom: 0px;
   width: 60px;
}
#header_logo_img {
   width: 60px;
}
#button_return_list {
   font-size: 20px;
   font-weight: bold;
   padding: 8px;
}
/*
#header_score {
   width: 140px;
   padding-bottom: 10px;
}
#header_time {
   width: 160px;
   padding-bottom: 10px;
}
*/
#header_title {
   width: 300px;
   font-weight: bold;
   padding-bottom: 5px;
}

#header_space {
}
#header_button {
   width: 310px; /**/
   text-align: right;
   padding-bottom: 5px;
}
/* #header_button input {
   margin-left: auto;
}*/
.icon {
   border: 1px solid #CCCCCC;
   height: 155px;
   width: 200px;
   display: inline-block;
   margin: 7px;
   cursor: pointer;
}
.icon div {
   text-align: center;
}
.icon_title {
   color: #0000CC;
}
/* .icon_title a, .icon_title a:link, .icon_title a:visited, .icon_title a:hover { 
   cursor: pointer;
}*/
.icon_title a:hover {
   /* color: #FF3300; */
   text-decoration: none;
}
.icon_img {
   text-align: center;
}
.icon_img_td {
   height: 90px;
   width: 230px;
   vertical-align: middle; /* not effective */
   text-align: center;
} 
.icon_img img {
   max-height: 80px;
   max-width: 150px;
   cursor: pointer;
}
.icon_dev {
   padding-top: 0px;
}
.icon_link {
   padding-top: 10px;
}
.icon_link_text_link {
   color: #0000AA; 
   cursor: pointer;
   text-decoration: underline;
}
.icon_link_text_black {
   color: black; /* #0000AA;*/
   cursor: pointer;
}
.icon_title {
   font-size: 17px;
   font-weight: bold;
   /* height: 1em; */
   margin-top: 0.3em;
   margin-bottom: 0.3em;
}
.icon_stars {
   margin: 0.3em;
}
#all_icons {
   display: none;
   margin-top: 5em;
   width: 440px;
   margin: 3em;
   border: 2px solid black;
}
#all_icons img {
   margin: 6px;
   max-height: 60px;
   max-width: 100px;
}
.groupTitle {
   font-size: 25px;
   text-align: center;
   font-weight: bold;
   margin: 1em;
}
