<!doctype html>
<html>
   <head>
    <meta charset="utf-8">
    <title>05_repeat_nested_if_03_marbles</title>
      <script>
      window.stringsLanguage = 'fr';
      </script>
      <script class="remove" type="text/javascript" src="../../../../_common/modules/pemFioi/importModules-1.3.js" id="import-modules"></script>
      <script class="remove" type="text/javascript">
        var modulesPath = '../../../../_common/modules/'
        importModules([
            'jquery-1.7.1', 'JSON-js', 'raphael-2.2.1', 'beaver-task-2.0', 'jschannel', 'raphaelFactory-1.0', 'delayFactory-1.0', 'simulationFactory-1.0',
            'platform-pr', 'buttonsAndMessages', 'beav-1.0', 'installationAPI.01', 'miniPlatform', 'conceptViewer-1.0', 'conceptViewer_css-1.0',
            'taskStyles-0.1']);
        // set Blockly as default language when none is specified through ?language=
        importLanguageModules('blockly');
      </script>
      <script class="remove" type="text/javascript">
       var json = {
          "id": "http://castor-informatique.fr/questions/algorea_training/training-repeat-nested-if-marbles/",
          "language": "fr",
          "version": "fr.01",
          "authors": "Mathias Hiron",
          "translators": [],
          "license": "",
          "taskPathPrefix": "",
          "modulesPathPrefix": "",
          "browserSupport": [],
          "fullFeedback": true,
          "minWidth": "auto"
      };
      </script>
      <script type="text/javascript" src="task.js"></script>
   </head>
   <body onresize="task.displayedSubTask.updateScale()">
      <div id="task">
         <h1>Ranger les billes 4</h1>
         <img src="hole.png" style="display:none" />
         <img src="marble.png" style="display:none" />
         <img src="red_robot.png" style="display:none" />
         <img src="icon.png" style="display:none" />

         <div id="tabsContainer"></div>
         <div id="taskContent">
            <div id="taskIntro">
               <p>
                  Programmer le robot pour qu'il ramasse et dépose chaque bille dans un trou.
               </p>
               <p>
                  Le robot ne peut transporter qu'une bille à la fois.
               </p>
               <p class="hard"><b>Attention :</b> le robot ne doit pas essayer de déposer une bille s'il n'en transporte pas. Ce robot n'a pas de capteur lui permettant de tester s'il en transporte une, ni de mémoire pour s'en souvenir, donc il faut ruser.</p>
                <p class="medium hard">
                  Vous pouvez avoir besoin <span data-lang="blockly scratch">du</span><span data-lang="python">de</span>
                  <a onclick="conceptViewer.showConcept('blockly_controls_if')">
                  <span data-lang="blockly scratch">bloc si</span>
                  <span data-lang="python">l'instruction if</span></a>
               </p>
           </div>
            <div id="gridContainer"></div>
            <div id="blocklyLibContent"></div>
         </div>

      </div><!-- task -->
   </body>
</html>
 
