<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>02_repeat_03_paint</title>
    <script>
      window.stringsLanguage = "fr";
    </script>
    <script
      class="remove"
      type="text/javascript"
      src="../../../../_common/modules1-3/pemFioi/importModules-1.3.js"
      id="import-modules"
    ></script>
    <script class="remove" type="text/javascript">
      var modulesPath = "../../../../_common/modules1-3/";
      importModules([
        "jquery-1.7.1",
        "JSON-js",
        "raphael-2.2.1",
        "beaver-task-2.0",
        "jschannel",
        "raphaelFactory-1.0",
        "delayFactory-1.0",
        "simulationFactory-1.0",
        "platform-pr",
        "buttonsAndMessages",
        "beav-1.0",
        "installationAPI.01",
        "miniPlatform",
        "conceptViewer-1.0",
        "conceptViewer_css-1.0",
        "taskStyles-0.1"
      ]);
      // set Blockly as default language when none is specified through ?language=
      importLanguageModules("blockly");
    </script>
    <script class="remove" type="text/javascript">
      var json = {
        id:
          "http://castor-informatique.fr/questions/algorea_training/training-repeat-paint/",
        language: "fr",
        version: "fr.01",
        authors: "Mathias Hiron",
        translators: [],
        license: "",
        taskPathPrefix: "",
        modulesPathPrefix: "",
        browserSupport: [],
        fullFeedback: true,
        minWidth: "auto"
      };
    </script>
    <script type="text/javascript" src="task.js"></script>
  </head>
  <body onresize="task.displayedSubTask.updateScale()">
    <div id="task">
      <h1>Paint the dots</h1>
      <img src="marker.png" style="display:none" />
      <img src="red_robot.png" style="display:none" />
      <img src="icon.png" style="display:none" />

      <div id="tabsContainer"></div>
      <div id="taskContent">
        <div id="taskIntro">
          <p>
            Program the robot to paint all the boxes marked with a black dot.
          </p>
        </div>
        <div id="gridContainer"></div>
        <div id="blocklyLibContent"></div>
      </div>
    </div>
    <!-- task -->
  </body>
</html>
