body.blockly > *,
body > * {
	width: auto;
}

@media screen {
	#task {
		padding: 0 10px;
	}
}
#taskContent {
	clear: both;
	position: relative;
	display: inline-block;
	width: 100%;
}
#taskContent::before,
#taskContent::after {
	content: " ";
	display: table;
}
#gridContainer,
#blocklyLibContent,
#blocklyContainer {
	box-sizing: border-box;
}
@media screen and (min-width: 800px) {
	#taskIntro {
		float: left;
		max-width: calc(100% - 450px);
	}
	#gridContainer {
		float: right;
	}
}
@media screen and (min-width: 1025px) {
	#taskIntro {
		float: none;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#gridContainer {
		float: left;
	}
	#blocklyLibContent {
		float: right;
		width: calc(100% - 440px);
	}
}
#blocklyContainer {
	overflow: auto;
	height: 600px;
	border: 1px solid #8d9daa;
	width: 100%;
	position: relative;
}
#blocklyDiv {
	height: 100%;
	width: 100%;
}
#grid {
	max-width: 400px;
	padding: 10px;
}

.blocklyCapacity {
	display: inline-block;
	width: 24px;
	text-align: right;
}

#lang {
    height: 40px;
    /*display: none;*/
}

.clearBoth {
    clear: both;
}

#editorContainer {
    resize: vertical;
    overflow: auto;
    height: 600px;
    padding-bottom: 10px;
    border: solid black 1px;
    width: 100%;
    position: relative;
}

#blockly-workspace {
    height: 100%;
    width: 100%;
}

#javascript-workspace {
    width: 100%;
    height: 100%;
    display: none;
}

#python-workspace {
    width: 100%;
    height: 100%;
    display: none;
}

#testCaseName {
    padding-left: 20px;
    padding-right: 20px;
}

#errors {
    color: red;
    padding-top: 10px;
}

.success{
    color:green;
    font-weight:bold;
}
.aceHighlight {
   position: absolute;
   background: rgba(100, 100, 200, 0.5);
   z-index: 20;
}
code {
   font-family: courier;
   background-color: #EEE;
   white-space: pre-wrap;
}
